@inject Rps.Rps.RpsClient RpsClient
@page "/"

<h1>Rock Paper Scissors</h1>


<div class="form-group p col-lg-2">
    <label>Your Name: </label>
    <input type="text" class="form-control" @bind="Name">
</div>
<div class="form-group p col-lg-2">
    <label>Select Your hand: </label>
    <br/>
    <div class="btn-group" role="group" aria-label="Select Hands">
      <button type="button" @onclick="@(e => HandChanged(Rps.Hands.Rock))" class="btn btn-secondary">@Rps.Hands.Rock.ToString()</button>
      <button type="button" @onclick="@(e => HandChanged(Rps.Hands.Paper))" class="btn btn-secondary">@Rps.Hands.Paper.ToString()</button>
      <button type="button" @onclick="@(e => HandChanged(Rps.Hands.Scissors))" class="btn btn-secondary">@Rps.Hands.Scissors.ToString()</button>
    </div>
</div>
<div class="form-group p col-lg-2">
    <button type="submit"class="btn btn-primary" @onclick="Shoot">Shoot</button>
</div>

@if(!string.IsNullOrEmpty(ShootResultMessage))
{
    <h3>@ShootResultMessage</h3>
}


@code {
    private string Name { get; set; }
 
    private Rps.Hands SelectedHand;
    private string ShootResultMessage;
    public bool requesting;

    private void HandChanged(Rps.Hands hand)
    {
        SelectedHand = hand;
    }
    private void Shoot(EventArgs e)
    {
        var result = RpsClient.Shoot(new Rps.ShootRequest
        {
            Shoot = new Rps.Shoot
            {
                Hand = SelectedHand,
                UserId = 1234,
                UserName = Name
            }
        });

        var shootResult = result.ShootResult;
        var shootMessage = result.Message;

        ShootResultMessage = shootMessage;
    }
}
